openapi: 3.1.0
info:
  title: KDB Vault API
  version: 1.2.0
  summary: Intelligent document lifecycle management platform — REST API v1
  description: 'Every endpoint of the KDB Vault platform: auth, tenants, documents, search & AI,

    lifecycle, workflows, e-signatures, sharing, audit & evidence, notifications,

    reports, administration, imports, and billing.


    Conventions: JWT tenant scoping (tenant id from token, never from parameters),

    cursor pagination, RFC 7807 errors, idempotency keys on non-GET requests,

    ETag/If-Match concurrency, unified 202-job pattern for async work.

    SCIM 2.0 provisioning (Enterprise) is exposed at /scim/v2 per the SCIM standard

    and is not re-documented here.


    Rate limiting: every authenticated response carries X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset
    headers; exceeding the quota returns 429 with Retry-After. Guest/public endpoints (/shared, /sign,
    /verify) have stricter per-IP limits with CAPTCHA escalation.'
  contact:
    name: KDB Vault Engineering
    email: api@kdbvault.com
  x-kdb-convention-notes:
  - key: sort-and-fields
    text: '`sort=` and `fields=` (sparse fieldsets) are documented as global conventions but are implemented
      NOWHERE. Lists have fixed, sensible ordering (recency, or name where that reads better). Post-pilot.'
  - key: job-pattern
    text: The "unified 202-job pattern" is real, but there is no generic GET /jobs/{id}. Each async surface
      owns its own status endpoint — imports at GET /imports/{id}, every export kind (audit export, evidence
      bundle, tenant export) at GET /audit/exports/{jobId}. The 202 response body always carries the polling
      URL, so a client that follows the Location/`job_id` it is GIVEN never needs to know this.
  - key: captcha
    text: Rate-limit headers and 429 + Retry-After are live on every limited response. CAPTCHA escalation
      on public endpoints is NOT implemented; public surfaces rely on strict per-IP limits alone.
  - key: idempotency
    text: 'Idempotency-Key is accepted on non-GET requests but is not yet a replay cache: it is recorded,
      not enforced. Clients must still treat retries as potentially duplicating. Post-pilot.'
servers:
- url: https://api.kdbvault.com/v1
  description: Production
- url: https://api.staging.kdbvault.com/v1
  description: Staging
security:
- bearerAuth: []
tags:
- name: Auth
  description: Registration, login, MFA, sessions, SSO
- name: Profile
  description: Current user, preferences, emergency access
- name: Tenants
  description: Organizations, members, departments, roles
- name: Folders
- name: Documents
  description: Upload, versions, types, tags, links, templates
- name: Search
  description: Hybrid search and AI assistant
- name: Lifecycle
  description: Expiry, reminders, obligations, retention, legal holds
- name: Workflows
  description: Templates, instances, approvals, tasks, comments
- name: Signatures
  description: Envelopes and guest signing
- name: Sharing
  description: Share links, ACLs, data rooms
- name: Audit
  description: Events, evidence bundles, verification
- name: Notifications
- name: Reports
- name: Admin
  description: API keys, webhooks, security policy, export, jobs
- name: Imports
- name: Billing
- name: Health
  description: Unversioned probes (documented here for completeness)
paths:
  /auth/register:
    post:
      tags:
      - Auth
      operationId: authRegister
      summary: Create user account (email or phone + password)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - password
              properties:
                email:
                  type: string
                  format: email
                phone:
                  type: string
                password:
                  type: string
                  minLength: 10
                  writeOnly: true
                locale:
                  type: string
                  enum:
                  - fr
                  - en
      responses:
        '201':
          description: Account created, verification code sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/verify:
    post:
      tags:
      - Auth
      operationId: authVerify
      summary: Verify email/phone with OTP code
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - identifier
              - code
              properties:
                identifier:
                  type: string
                code:
                  type: string
      responses:
        '200':
          description: Verified
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/login:
    post:
      tags:
      - Auth
      operationId: authLogin
      summary: Password login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - identifier
              - password
              properties:
                identifier:
                  type: string
                password:
                  type: string
                  writeOnly: true
      responses:
        '200':
          description: AuthTokens (no MFA) or MfaChallenge (MFA enabled)
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AuthTokens'
                - $ref: '#/components/schemas/MfaChallenge'
              examples:
                tokens:
                  summary: MFA not enabled
                  value:
                    access_token: eyJhbGciOi...
                    expires_in: 900
                    token_type: Bearer
                mfaChallenge:
                  summary: MFA enabled
                  value:
                    mfa_required: true
                    challenge_token: chal_9f2c...
                    methods:
                    - totp
                    - sms
                    expires_in: 300
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: 'Returns AuthTokens directly when MFA is not enabled. When MFA is enabled, returns
        an MfaChallenge instead — no tokens are issued until the challenge is completed. Discriminate
        on the presence of mfa_required: true.'
  /auth/mfa/challenge:
    post:
      tags:
      - Auth
      operationId: authMfaChallenge
      summary: Complete MFA challenge (TOTP, SMS, or WebAuthn)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - challenge_token
              properties:
                challenge_token:
                  type: string
                totp_code:
                  type: string
                sms_code:
                  type: string
                webauthn_assertion:
                  type: object
              description: Provide exactly one of totp_code, sms_code, webauthn_assertion.
      responses:
        '200':
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: Exchange a challenge_token from /auth/login plus exactly one factor (totp_code, sms_code,
        or webauthn_assertion) for tokens. The challenge is single-use, expires after 5 minutes, and is
        invalidated after 5 failed attempts — the client must then log in again.
  /auth/refresh:
    post:
      tags:
      - Auth
      operationId: authRefresh
      summary: Rotate refresh token, mint new access token
      security: []
      responses:
        '200':
          description: New tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/logout:
    post:
      tags:
      - Auth
      operationId: authLogout
      summary: Revoke current session
      responses:
        '204':
          description: Session revoked
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/logout-all:
    post:
      tags:
      - Auth
      operationId: authLogoutAll
      summary: Revoke all sessions for the user
      responses:
        '204':
          description: All sessions revoked
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/password/forgot:
    post:
      tags:
      - Auth
      operationId: authPasswordForgot
      summary: Start password reset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - identifier
              properties:
                identifier:
                  type: string
      responses:
        '202':
          description: Reset code sent if account exists
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/password/reset:
    post:
      tags:
      - Auth
      operationId: authPasswordReset
      summary: Complete password reset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              - new_password
              properties:
                token:
                  type: string
                new_password:
                  type: string
                  minLength: 10
                  writeOnly: true
      responses:
        '204':
          description: Password changed
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/switch-tenant:
    post:
      tags:
      - Auth
      operationId: authSwitchTenant
      summary: Mint token scoped to another tenant the user belongs to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tenant_id
              properties:
                tenant_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Tokens for the selected tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/sessions:
    get:
      tags:
      - Auth
      operationId: authListSessions
      summary: List active sessions/devices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/sessions/{sessionId}:
    delete:
      tags:
      - Auth
      operationId: authRevokeSession
      summary: Revoke a specific session
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Revoked
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/mfa/totp/setup:
    post:
      tags:
      - Auth
      operationId: authTotpSetup
      summary: Begin TOTP enrollment
      responses:
        '200':
          description: Secret + otpauth URI for QR
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                  otpauth_uri:
                    type: string
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/mfa/totp/confirm:
    post:
      tags:
      - Auth
      operationId: authTotpConfirm
      summary: Confirm TOTP with first code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - code
              properties:
                code:
                  type: string
      responses:
        '204':
          description: TOTP enabled
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/mfa/totp:
    delete:
      tags:
      - Auth
      operationId: authTotpDisable
      summary: Disable TOTP (requires password + current code)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - password
              - code
              properties:
                password:
                  type: string
                  writeOnly: true
                code:
                  type: string
      responses:
        '204':
          description: TOTP disabled
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/webauthn/register:
    post:
      tags:
      - Auth
      operationId: authWebauthnRegister
      summary: Register passkey/security key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attestation:
                  type: object
      responses:
        '201':
          description: Credential registered
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: &id001
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      description: '**NOT YET IMPLEMENTED — answers 501.** Passkeys are not available. Use password +
        authenticator app (TOTP).

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Passkeys are not available. Use password + authenticator app (TOTP).
  /auth/sso/{provider}/start:
    get:
      tags:
      - Auth
      operationId: authSsoStart
      summary: Begin SSO flow (SAML/OIDC) — Enterprise
      security: []
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
      responses:
        '302':
          description: Redirect to identity provider
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** Enterprise SSO (SAML/OIDC) is not available.
        Sign in with email + password.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Enterprise SSO (SAML/OIDC) is not available. Sign in with email + password.
  /auth/sso/{provider}/callback:
    post:
      tags:
      - Auth
      operationId: authSsoCallback
      summary: SSO assertion callback
      security: []
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** Enterprise SSO (SAML/OIDC) is not available.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Enterprise SSO (SAML/OIDC) is not available.
  /me:
    get:
      tags:
      - Profile
      operationId: getMe
      summary: Current user profile + memberships summary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    patch:
      tags:
      - Profile
      operationId: updateMe
      summary: Update profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                locale:
                  type: string
                  enum:
                  - fr
                  - en
                phone:
                  type: string
                avatar_upload_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /me/password:
    patch:
      tags:
      - Profile
      operationId: changePassword
      summary: Change password (requires current password)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - current_password
              - new_password
              properties:
                current_password:
                  type: string
                  writeOnly: true
                new_password:
                  type: string
                  minLength: 10
                  writeOnly: true
      responses:
        '204':
          description: Changed
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: '**DIFFERS FROM THIS DESCRIPTION.** PATCH is correct and accepted (B49). PUT is also
        accepted during the transition, because the hand-written SPA client shipped against it.

        <!-- kdb-annotation -->'
      x-kdb-status: changed
      x-kdb-note: PATCH is correct and accepted (B49). PUT is also accepted during the transition, because
        the hand-written SPA client shipped against it.
  /me/notification-preferences:
    get:
      tags:
      - Profile
      operationId: getNotificationPreferences
      summary: Per-channel, per-event preferences
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags:
      - Profile
      operationId: setNotificationPreferences
      summary: Update preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPreferences'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: '**DIFFERS FROM THIS DESCRIPTION.** Preferences are per FAMILY (deadlines, approvals,
        signatures, documents, billing), not per raw event type, and cover external channels only — the
        in-app bell is the record of what happened and cannot be switched off. Only `email` delivers today;
        sms, whatsapp and push are accepted but their adapters are log-only.

        <!-- kdb-annotation -->'
      x-kdb-status: changed
      x-kdb-note: Preferences are per FAMILY (deadlines, approvals, signatures, documents, billing), not
        per raw event type, and cover external channels only — the in-app bell is the record of what happened
        and cannot be switched off. Only `email` delivers today; sms, whatsapp and push are accepted but
        their adapters are log-only.
  /me/emergency-contacts:
    get:
      tags:
      - Profile
      operationId: listEmergencyContacts
      summary: List trusted contacts (Personal plans)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmergencyContact'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** Emergency access is a Personal-plan feature;
        the pilot targets businesses. Schema exists (emergency_contacts, V001); no surface yet.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Emergency access is a Personal-plan feature; the pilot targets businesses. Schema exists
        (emergency_contacts, V001); no surface yet.
    post:
      tags:
      - Profile
      operationId: addEmergencyContact
      summary: Add trusted contact with access conditions and veto window
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - email
              - veto_window_hours
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                scope:
                  type: string
                  enum:
                  - all
                  - selected_folders
                folder_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                veto_window_hours:
                  type: integer
                  minimum: 24
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyContact'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** Emergency access is a Personal-plan feature;
        the pilot targets businesses. Schema exists (emergency_contacts, V001); no surface yet.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Emergency access is a Personal-plan feature; the pilot targets businesses. Schema exists
        (emergency_contacts, V001); no surface yet.
  /me/emergency-contacts/{contactId}:
    delete:
      tags:
      - Profile
      operationId: removeEmergencyContact
      summary: Remove trusted contact
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Removed
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** See GET /me/emergency-contacts.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: See GET /me/emergency-contacts.
  /emergency-access/{grantToken}/request:
    post:
      tags:
      - Profile
      operationId: requestEmergencyAccess
      summary: (Public) Trusted contact requests access; owner notified, veto timer starts
      security: []
      parameters:
      - name: grantToken
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request registered, owner notified
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** Deferred with the rest of emergency access.
        When built it joins the public-surface contract (capability token, SECURITY DEFINER peephole,
        strict per-IP limit) like /shared, /sign and /verify.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Deferred with the rest of emergency access. When built it joins the public-surface contract
        (capability token, SECURITY DEFINER peephole, strict per-IP limit) like /shared, /sign and /verify.
  /tenants:
    post:
      tags:
      - Tenants
      operationId: createTenant
      summary: Create organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - plan
              - region
              properties:
                name:
                  type: string
                plan:
                  type: string
                region:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /tenant:
    get:
      tags:
      - Tenants
      operationId: getTenant
      summary: Current tenant details, plan, usage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    patch:
      tags:
      - Tenants
      operationId: updateTenant
      summary: Update name, settings, branding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                settings:
                  type: object
                branding:
                  type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /tenant/usage:
    get:
      tags:
      - Tenants
      operationId: getTenantUsage
      summary: Storage, seats, AI credits, signature envelopes consumed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantUsage'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /invitations:
    get:
      tags:
      - Tenants
      operationId: listInvitations
      summary: List pending invitations
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invitation'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Tenants
      operationId: createInvitation
      summary: Invite member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - role_id
              properties:
                email:
                  type: string
                  format: email
                role_id:
                  type: string
                  format: uuid
                department_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Invitation sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /invitations/{invitationId}:
    delete:
      tags:
      - Tenants
      operationId: revokeInvitation
      summary: Revoke invitation
      parameters:
      - name: invitationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Revoked
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /invitations/{token}/accept:
    post:
      tags:
      - Tenants
      operationId: acceptInvitation
      summary: (Public) Accept invite, creating account if needed
      security: []
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                password:
                  type: string
                  writeOnly: true
      responses:
        '200':
          description: Joined tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /members:
    get:
      tags:
      - Tenants
      operationId: listMembers
      summary: List members
      parameters:
      - name: role_id
        in: query
        schema:
          type: string
          format: uuid
      - name: department_id
        in: query
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - suspended
          - pending
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Membership'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /members/{memberId}:
    parameters:
    - name: memberId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Tenants
      operationId: getMember
      summary: Member detail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    patch:
      tags:
      - Tenants
      operationId: updateMember
      summary: Change role, department, status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role_id:
                  type: string
                  format: uuid
                department_id:
                  type: string
                  format: uuid
                status:
                  type: string
                  enum:
                  - active
                  - suspended
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags:
      - Tenants
      operationId: removeMember
      summary: Remove member (prompts document-ownership transfer)
      responses:
        '204':
          description: Removed
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /members/{memberId}/transfer-ownership:
    post:
      tags:
      - Tenants
      operationId: transferOwnership
      summary: Reassign the member's owned documents
      parameters:
      - name: memberId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - to_member_id
              properties:
                to_member_id:
                  type: string
                  format: uuid
      responses:
        '202':
          description: Transfer job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /departments:
    get:
      tags:
      - Tenants
      operationId: listDepartments
      summary: List departments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Department'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Tenants
      operationId: createDepartment
      summary: Create department
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                parent_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /departments/{departmentId}:
    parameters:
    - name: departmentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    patch:
      tags:
      - Tenants
      operationId: updateDepartment
      summary: Rename or re-parent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                parent_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags:
      - Tenants
      operationId: deleteDepartment
      summary: Delete (must be empty)
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /roles:
    get:
      tags:
      - Tenants
      operationId: listRoles
      summary: List roles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Tenants
      operationId: createRole
      summary: Create custom role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - permissions
              properties:
                name:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** Custom roles are not editable. The pilot runs
        on the four seeded system roles (Owner / Admin / Member / Viewer), which ARE enforced end to end
        (B47). GET /roles works.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Custom roles are not editable. The pilot runs on the four seeded system roles (Owner
        / Admin / Member / Viewer), which ARE enforced end to end (B47). GET /roles works.
  /roles/{roleId}:
    parameters:
    - name: roleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Tenants
      operationId: getRole
      summary: Role detail with permission list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** See POST /roles.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: See POST /roles.
    patch:
      tags:
      - Tenants
      operationId: updateRole
      summary: Edit role (system roles immutable)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** See POST /roles.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: See POST /roles.
    delete:
      tags:
      - Tenants
      operationId: deleteRole
      summary: Delete role (not assignable while in use)
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** See POST /roles.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: See POST /roles.
  /permissions/catalog:
    get:
      tags:
      - Tenants
      operationId: getPermissionsCatalog
      summary: All assignable permission keys with descriptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        description:
                          type: string
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** Meaningless until custom roles exist; lands
        with them.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Meaningless until custom roles exist; lands with them.
  /folders:
    get:
      tags:
      - Folders
      operationId: listFolders
      summary: Root listing, children of parent_id, or full tree
      parameters:
      - name: parent_id
        in: query
        schema:
          type: string
          format: uuid
      - name: tree
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Folder'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Folders
      operationId: createFolder
      summary: Create folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                parent_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /folders/{folderId}:
    parameters:
    - name: folderId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Folders
      operationId: getFolder
      summary: Folder detail + breadcrumb path
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    patch:
      tags:
      - Folders
      operationId: renameFolder
      summary: Rename folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags:
      - Folders
      operationId: deleteFolder
      summary: Soft-delete folder (recursive, contents to trash)
      responses:
        '204':
          description: Trashed
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /folders/{folderId}/move:
    post:
      tags:
      - Folders
      operationId: moveFolder
      summary: Move under new parent (cycle-checked)
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - parent_id
              properties:
                parent_id:
                  type: string
                  format: uuid
                  description: null moves folder to root
      responses:
        '200':
          description: Moved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /folders/{folderId}/contents:
    get:
      tags:
      - Folders
      operationId: getFolderContents
      summary: Combined subfolders + documents, paginated, sortable
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/Folder'
                      - $ref: '#/components/schemas/Document'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /folders/{folderId}/acl:
    parameters:
    - name: folderId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Sharing
      operationId: getFolderAcl
      summary: Folder ACL (inherited by contents)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclEntryList'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags:
      - Sharing
      operationId: setFolderAcl
      summary: Replace folder ACL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AclEntryList'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclEntryList'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/uploads:
    post:
      tags:
      - Documents
      operationId: initiateUpload
      summary: Phase 1 — initiate presigned upload
      parameters:
      - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - filename
              - size_bytes
              - mime_type
              - checksum_sha256
              properties:
                filename:
                  type: string
                size_bytes:
                  type: integer
                mime_type:
                  type: string
                folder_id:
                  type: string
                  format: uuid
                checksum_sha256:
                  type: string
      responses:
        '201':
          description: Presigned upload created
          content:
            application/json:
              schema:
                type: object
                properties:
                  upload_id:
                    type: string
                    format: uuid
                  upload_url:
                    type: string
                    format: uri
                  expires_at:
                    type: string
                    format: date-time
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/uploads/{uploadId}/parts:
    post:
      tags:
      - Documents
      operationId: getUploadPartUrls
      summary: Request presigned part URLs for resumable multipart upload
      parameters:
      - name: uploadId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - part_numbers
              properties:
                part_numbers:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Part URLs
          content:
            application/json:
              schema:
                type: object
                properties:
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        part_number:
                          type: integer
                        url:
                          type: string
                          format: uri
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/uploads/{uploadId}/complete:
    post:
      tags:
      - Documents
      operationId: completeUpload
      summary: Phase 3 — verify checksum, malware scan, create document + version 1
      parameters:
      - name: uploadId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                type_id:
                  type: string
                  format: uuid
                parts:
                  type: array
                  items:
                    type: object
                    properties:
                      part_number:
                        type: integer
                      etag:
                        type: string
      responses:
        '201':
          description: Document created, pipeline queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents:
    get:
      tags:
      - Documents
      operationId: listDocuments
      summary: List/filter documents
      parameters:
      - name: folder_id
        in: query
        schema:
          type: string
          format: uuid
      - name: type_id
        in: query
        schema:
          type: string
          format: uuid
      - name: tag
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - draft
          - active
          - expiring
          - expired
          - renewed
          - archived
      - name: owner_id
        in: query
        schema:
          type: string
          format: uuid
      - name: expiring_before
        in: query
        schema:
          type: string
          format: date
      - name: q
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: '**DIFFERS FROM THIS DESCRIPTION.** Implements `folder_id`, `q` and cursor pagination
        only. The richer filters (type_id, tag, status, owner_id, expiring_before) live on GET /search,
        which is the faceted surface — list is for browsing, search is for filtering.

        <!-- kdb-annotation -->'
      x-kdb-status: changed
      x-kdb-note: Implements `folder_id`, `q` and cursor pagination only. The richer filters (type_id,
        tag, status, owner_id, expiring_before) live on GET /search, which is the faceted surface — list
        is for browsing, search is for filtering.
    post:
      tags:
      - Documents
      operationId: createDocumentDirect
      summary: Direct small upload (< 10 MB, multipart)
      parameters:
      - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                folder_id:
                  type: string
                  format: uuid
                title:
                  type: string
                type_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: '**NOT IMPLEMENTED AS SPECIFIED.** Direct multipart upload for small files was never
        built and should be struck: every upload takes the presigned path (POST /documents/uploads → PUT
        to storage → POST .../complete), including small ones. One ingest path means one place to size-limit,
        virus-scan and audit.

        <!-- kdb-annotation -->'
      x-kdb-status: not-planned
      x-kdb-note: 'Direct multipart upload for small files was never built and should be struck: every
        upload takes the presigned path (POST /documents/uploads → PUT to storage → POST .../complete),
        including small ones. One ingest path means one place to size-limit, virus-scan and audit.'
  /documents/bulk:
    post:
      tags:
      - Documents
      operationId: bulkDocumentAction
      summary: Bulk move/tag/delete/change_type — async job
      parameters:
      - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - action
              - document_ids
              properties:
                action:
                  type: string
                  enum:
                  - move
                  - tag
                  - delete
                  - change_type
                document_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                folder_id:
                  type: string
                  format: uuid
                tag_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                type_id:
                  type: string
                  format: uuid
      responses:
        '202':
          description: Job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** Batch operations are not available. Per-document
        move / copy / tag / trash all work; act per document.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Batch operations are not available. Per-document move / copy / tag / trash all work;
        act per document.
  /documents/{documentId}:
    parameters:
    - $ref: '#/components/parameters/documentId'
    get:
      tags:
      - Documents
      operationId: getDocument
      summary: Full document with metadata, lifecycle and permissions summary
      responses:
        '200':
          description: OK
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    patch:
      tags:
      - Documents
      operationId: updateDocument
      summary: Update title, folder, type, metadata (requires If-Match)
      parameters:
      - $ref: '#/components/parameters/ifMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                folder_id:
                  type: string
                  format: uuid
                type_id:
                  type: string
                  format: uuid
                metadata:
                  type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: '**STRONGER THAN DESCRIBED.** If-Match is REQUIRED, not optional: a missing precondition
        answers 428 and a stale one 409. Also accepts `status` for the editorial values (draft / active
        / archived); the expiry-driven values (expiring / expired / renewed) are derived from lifecycle
        rules by a worker and are rejected with 422 if sent.

        <!-- kdb-annotation -->'
      x-kdb-status: stronger
      x-kdb-note: 'If-Match is REQUIRED, not optional: a missing precondition answers 428 and a stale
        one 409. Also accepts `status` for the editorial values (draft / active / archived); the expiry-driven
        values (expiring / expired / renewed) are derived from lifecycle rules by a worker and are rejected
        with 422 if sent.'
    delete:
      tags:
      - Documents
      operationId: trashDocument
      summary: Soft delete to trash (423 if legal hold)
      responses:
        '204':
          description: Trashed
        '423':
          $ref: '#/components/responses/Locked'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/download:
    get:
      tags:
      - Documents
      operationId: downloadDocument
      summary: 302 redirect to short-lived signed URL for current version
      parameters:
      - $ref: '#/components/parameters/documentId'
      - name: disposition
        in: query
        schema:
          type: string
          enum:
          - attachment
          - inline
      responses:
        '302':
          description: Redirect to signed URL
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: '**STRONGER THAN DESCRIBED.** Answers 423 FILE_QUARANTINED when the version failed
        a malware scan. The same guard covers version downloads, share links, data rooms and the watermark
        pipeline.

        <!-- kdb-annotation -->'
      x-kdb-status: stronger
      x-kdb-note: Answers 423 FILE_QUARANTINED when the version failed a malware scan. The same guard
        covers version downloads, share links, data rooms and the watermark pipeline.
  /documents/{documentId}/preview:
    get:
      tags:
      - Documents
      operationId: previewDocument
      summary: Rendered paged preview for view-only access
      parameters:
      - $ref: '#/components/parameters/documentId'
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: Preview page
          content:
            image/webp:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: '**DIFFERS FROM THIS DESCRIPTION.** No paged-image renderer. Preview is served as an
        inline-disposition download of the file itself, which means a previewer receives a URL capable
        of downloading — the spec''s "preview without download rights" nuance is NOT held. Use a data
        room with watermarking when that distinction matters.

        <!-- kdb-annotation -->'
      x-kdb-status: changed
      x-kdb-note: No paged-image renderer. Preview is served as an inline-disposition download of the
        file itself, which means a previewer receives a URL capable of downloading — the spec's "preview
        without download rights" nuance is NOT held. Use a data room with watermarking when that distinction
        matters.
  /documents/{documentId}/move:
    post:
      tags:
      - Documents
      operationId: moveDocument
      summary: Move to folder
      parameters:
      - $ref: '#/components/parameters/documentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - folder_id
              properties:
                folder_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Moved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/copy:
    post:
      tags:
      - Documents
      operationId: copyDocument
      summary: Duplicate document (metadata + current version)
      parameters:
      - $ref: '#/components/parameters/documentId'
      - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                folder_id:
                  type: string
                  format: uuid
                title:
                  type: string
      responses:
        '201':
          description: Copy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/restore:
    post:
      tags:
      - Documents
      operationId: restoreDocument
      summary: Restore from trash
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '200':
          description: Restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/purge:
    delete:
      tags:
      - Documents
      operationId: purgeDocument
      summary: Permanent destruction with certificate (423 if legal hold)
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '204':
          description: Destroyed, certificate written to audit
        '423':
          $ref: '#/components/responses/Locked'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /trash:
    get:
      tags:
      - Documents
      operationId: listTrash
      summary: Trashed items with purge_after dates
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/versions:
    parameters:
    - $ref: '#/components/parameters/documentId'
    get:
      tags:
      - Documents
      operationId: listVersions
      summary: Version history
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocumentVersion'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Documents
      operationId: addVersion
      summary: Attach new version from completed upload
      parameters:
      - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - upload_id
              properties:
                upload_id:
                  type: string
                  format: uuid
                note:
                  type: string
      responses:
        '201':
          description: Version created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVersion'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/versions/{versionId}:
    get:
      tags:
      - Documents
      operationId: getVersion
      summary: Version metadata
      parameters:
      - $ref: '#/components/parameters/documentId'
      - $ref: '#/components/parameters/versionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVersion'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/versions/{versionId}/download:
    get:
      tags:
      - Documents
      operationId: downloadVersion
      summary: Signed URL for that exact version
      parameters:
      - $ref: '#/components/parameters/documentId'
      - $ref: '#/components/parameters/versionId'
      responses:
        '302':
          description: Redirect to signed URL
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/versions/{versionId}/restore:
    post:
      tags:
      - Documents
      operationId: restoreVersion
      summary: Promote old version as new head (history preserved)
      parameters:
      - $ref: '#/components/parameters/documentId'
      - $ref: '#/components/parameters/versionId'
      responses:
        '201':
          description: New head version created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVersion'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /document-types:
    get:
      tags:
      - Documents
      operationId: listDocumentTypes
      summary: System + custom document types
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocumentType'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Documents
      operationId: createDocumentType
      summary: Create custom type with metadata JSON Schema
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - metadata_schema
              properties:
                name:
                  type: string
                metadata_schema:
                  type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentType'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /document-types/{typeId}:
    parameters:
    - name: typeId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Documents
      operationId: getDocumentType
      summary: Type detail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentType'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    patch:
      tags:
      - Documents
      operationId: updateDocumentType
      summary: Edit schema (versioned)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                metadata_schema:
                  type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentType'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags:
      - Documents
      operationId: deleteDocumentType
      summary: Delete (only if unused)
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /tags:
    get:
      tags:
      - Documents
      operationId: listTags
      summary: List tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Documents
      operationId: createTag
      summary: Create tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /tags/{tagId}:
    delete:
      tags:
      - Documents
      operationId: deleteTag
      summary: Delete tag (removed from all documents)
      parameters:
      - name: tagId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/tags:
    put:
      tags:
      - Documents
      operationId: setDocumentTags
      summary: Replace tag set
      parameters:
      - $ref: '#/components/parameters/documentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tag_ids
              properties:
                tag_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/links:
    parameters:
    - $ref: '#/components/parameters/documentId'
    get:
      tags:
      - Documents
      operationId: listDocumentLinks
      summary: Related documents (both directions, typed)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocumentLink'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Documents
      operationId: createDocumentLink
      summary: Link two documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - target_id
              - link_type
              properties:
                target_id:
                  type: string
                  format: uuid
                link_type:
                  type: string
                  enum:
                  - amends
                  - fulfills
                  - supports
                  - relates_to
      responses:
        '201':
          description: Linked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentLink'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/links/{linkId}:
    delete:
      tags:
      - Documents
      operationId: deleteDocumentLink
      summary: Unlink
      parameters:
      - $ref: '#/components/parameters/documentId'
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Unlinked
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/extractions:
    get:
      tags:
      - Documents
      operationId: listExtractions
      summary: OCR/AI-extracted entities with confidence + page anchors
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Extraction'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/extractions/{extractionId}/confirm:
    post:
      tags:
      - Documents
      operationId: confirmExtraction
      summary: Human confirms/corrects an extraction
      parameters:
      - $ref: '#/components/parameters/documentId'
      - name: extractionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                corrected_value:
                  type: string
      responses:
        '200':
          description: Confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extraction'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/reprocess:
    post:
      tags:
      - Documents
      operationId: reprocessDocument
      summary: Re-run intelligence pipeline
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '202':
          description: Pipeline queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /favorites:
    get:
      tags:
      - Documents
      operationId: listFavorites
      summary: Current user's bookmarked documents
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Documents
      operationId: addFavorite
      summary: Bookmark a document
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - document_id
              properties:
                document_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Bookmarked
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /favorites/{documentId}:
    delete:
      tags:
      - Documents
      operationId: removeFavorite
      summary: Remove bookmark
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '204':
          description: Removed
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /recent:
    get:
      tags:
      - Documents
      operationId: listRecent
      summary: Recently viewed documents (derived from user's own audit events)
      parameters:
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /pins:
    get:
      tags:
      - Documents
      operationId: listPins
      summary: Current user's pinned set (drives offline caching)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /documents/{documentId}/pin:
    post:
      tags:
      - Documents
      operationId: pinDocument
      summary: Pin for dashboard shortcut + offline availability
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '201':
          description: Pinned
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags:
      - Documents
      operationId: unpinDocument
      summary: Unpin
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '204':
          description: Unpinned
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /templates:
    get:
      tags:
      - Documents
      operationId: listTemplates
      summary: List document templates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** Document generation from templates is not available.
        Upload the finished file instead.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Document generation from templates is not available. Upload the finished file instead.
    post:
      tags:
      - Documents
      operationId: createTemplate
      summary: Create template (file + merge fields)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - upload_id
              - fields
              properties:
                name:
                  type: string
                upload_id:
                  type: string
                  format: uuid
                doc_type_id:
                  type: string
                  format: uuid
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/TemplateField'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** Document generation from templates is not available.
        Upload the finished file instead.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: Document generation from templates is not available. Upload the finished file instead.
  /templates/{templateId}:
    parameters:
    - name: templateId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Documents
      operationId: getTemplate
      summary: Template detail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** See GET /templates.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: See GET /templates.
    patch:
      tags:
      - Documents
      operationId: updateTemplate
      summary: Update fields or replace file (versioned)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                upload_id:
                  type: string
                  format: uuid
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/TemplateField'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** See GET /templates.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: See GET /templates.
    delete:
      tags:
      - Documents
      operationId: retireTemplate
      summary: Retire template
      responses:
        '204':
          description: Retired
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** See GET /templates.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: See GET /templates.
  /templates/{templateId}/preview:
    get:
      tags:
      - Documents
      operationId: previewTemplate
      summary: Rendered preview with sample values
      parameters:
      - name: templateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Preview
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** See GET /templates.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: See GET /templates.
  /templates/{templateId}/generate:
    post:
      tags:
      - Documents
      operationId: generateFromTemplate
      summary: Create document from template with merge values
      parameters:
      - name: templateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - folder_id
              - values
              properties:
                folder_id:
                  type: string
                  format: uuid
                values:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Document generated, linked to template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Not implemented yet (problem+json with code NOT_IMPLEMENTED).
          content: *id001
      description: '**NOT YET IMPLEMENTED — answers 501.** See GET /templates.

        <!-- kdb-annotation -->'
      x-kdb-status: deferred
      x-kdb-note: See GET /templates.
  /search:
    get:
      tags:
      - Search
      operationId: search
      summary: Hybrid full-text + semantic search with highlighted snippets
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
      - name: type_id
        in: query
        schema:
          type: string
          format: uuid
      - name: folder_id
        in: query
        schema:
          type: string
          format: uuid
      - name: tag
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Ranked hits
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchHit'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /search/queries:
    get:
      tags:
      - Search
      operationId: listSavedSearches
      summary: List saved searches (virtual collections)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SavedSearch'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Search
      operationId: saveSearch
      summary: Save a search as a virtual collection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - query
              properties:
                name:
                  type: string
                query:
                  type: object
      responses:
        '201':
          description: Saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /search/queries/{queryId}:
    parameters:
    - name: queryId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Search
      operationId: runSavedSearch
      summary: Run saved search
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchHit'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags:
      - Search
      operationId: deleteSavedSearch
      summary: Delete saved search
      responses:
        '204':
          description: Deleted
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /assistant/query:
    post:
      tags:
      - Search
      operationId: assistantQuery
      summary: Natural-language query — answer + matching documents + applied filters
      requestBody:
        required: true
        content:
[...]
